<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{/layouts/layout-ccc :: head}"></head>
<body class="bodyHomeCCC text-white">
    <header th:replace="~{layouts/layout-ccc :: header}"></header>
    <div class="container-fluid">
        <div class="row g-3">
        </div>
    </div>
    <div class="container">
        <footer class="py-3 my-4 footer bg-clear text-light" style="position: fixed; left: 0; bottom: 0; ">
            <p class="text-center">&copy; 2024 José Emmanuel Espino</p>
        </footer>
    </div>
</body>
</html>

