<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Customer Care Center</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/funciones.js}"></script>
</head>
<body class="bodyLoginCCC">
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 bg-oro text-white" style="border: 0.2em solid #ddd; padding: 3rem; border-radius: 1em;">

            <div class="tituloLogin mb-5 tituloLoginUA">
                <h3>Banunam - Customer Care Center</h3>
                <h5>Login</h5>
            </div>
            <div th:if="${loginError}">
                <div class="alert alert-danger">Usuario o contraseña incorrectos</div>
            </div>
            <form method="post" role="form" th:action="@{/customer-care-center/token}" class="form-horizontal">
                <div class="form-group mb-3">
                    <label class="control-label"> Usuario</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="ZPT****" th:required="required"/>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label"> Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="*******" th:required="required"/>
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>