<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Tutorial</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/funciones.js}"></script>
</head>
<body class="bodyRoot text-light">
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 p-5" style="background-color: rgba(0,0,0,0.6); ">

            <div class="tituloLogin mb-5 tituloLoginUA">
                <h3>Banunam - Banca en Línea</h3>
                <h5>Login</h5>
            </div>
            <div th:if="${loginError}">
                <div class="alert alert-danger">La información es incorrecta. Intenta nuevamente.</div>
            </div>
            <form method="post" role="form" th:action="@{/banca-en-linea/token}" class="form-horizontal">
                <div class="form-group mb-3">
                    <label class="control-label"> Número de TDD</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="**** **** **** 1234"/>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label"> Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="*******"/>
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>