a, a:hover, a:active, a:visited{
    color: inherit;
    text-decoration: none;
}


/*--------------------------------------Footer----------------------------------------------------*/


.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
  
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/*-------------------------User Administration----------------------------------------------------------------------*/

.tituloLoginUA{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid blue;
}

.footer{
    display: float;
    left: 0;
    bottom: 0;
    width: 100%;
}

.tituloPaginaUA{
    border: 0.2rem double #2A6A9E;
    font-size: 1.5rem;
    text-align: right;
    color:  white;
    padding: 0.1rem;
    padding-right: 2vw;
    padding-left: 2vw;
    letter-spacing: 0.3rem;
}

/*--------------------CCC-------------*/

.fondoNavCCC{
    background-color: rgba(213, 159, 15, 1);
}
.btnCCC{
    background-color: rgba(1, 59, 117, 1);
    color: white;
}
.btnCCC:hover{
    background-color: steelblue;
    color: white;
}
.btnCCC:active{
    box-shadow: 0 0 0 4pt #B6D4E7 !important;
}

.barraNav{
    margin: 0 2%;
    background-color: rgba(213, 159, 15, 1);
}
.barraBoton{
    text-align: center;
    background-color: rgba(213, 159, 15, 1);
    margin: 0;
    padding: 0;
}
.barraBoton>a{
    color: white;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    background-color: rgba(213, 159, 15, 1);
    padding: 0.4rem 0;
    border: 2px solid rgba(213, 159, 15, 1);
    cursor: default;
}
.barraBoton:hover .barraBoton-contenido{
    display:block;
    color: white;
}
.barraBoton-contenido{
    color: white;
    position: absolute;
    display: none;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(173, 130, 11);
    margin: 0;
    padding: 0;
    z-index:99;

}
.barraBoton-contenido>a{
    color: white;
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    background-color: rgb(173, 130, 11);
    padding: 0.4rem 0;
    border: 2px solid rgb(173, 130, 11);
    cursor: default;
}
.barraBoton-contenido>a:hover{
    background-color: rgb(128, 95, 7);
    border: 2px solid rgb(128, 95, 7);
    color: white;
}
.tituloPaginaCCC{
    font-size: 2.5rem;
    text-align: left;
    background-color: rgba(213, 159, 15, 1);
    padding: 1rem;
    padding-right: 2vw;
    letter-spacing: 0.3rem;
}
.tituloPaginaCCC>span{
    border: 0.4rem double rgba(1, 59, 117, 1);
    background-color: rgba(213, 159, 15, 1);
}


.bodyLoginCCC {
  background-image: url('../images/unam_biblioteca_central.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bodyHomeCCC {
    background-image: url('../images/unam_cu.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.bg-oro{
    background-color: rgba(213, 159, 15, 1);
}

.bg-oro-alpha{
    background-color: rgba(213, 159, 15, 0.85);
}

.tituloFormCCC{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid rgba(1, 59, 117, 1);
}